$sans-serif1: "Lato", sans-serif;
$sans-serif2: "Poppins", sans-serif;
$background-color: #FFFFFF;
$main-color: #082B59;
$secondary-color: #59331D;
$accent-color: #D98555;
$radius: 10px;
$stdspace: 1rem;